* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px; /* gutter */
}

.col-4 {
  flex: 0 0 calc(100% / 3);
  max-width: calc(100% / 3);
  padding: 15px; /* gutter interno */
}

.card {
  background-color:  rgb(223, 220, 220);
  height: 650px;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.card img {
  width: 100%;
  display: block;
  border-radius: 6px;
}
